nav {  
    color: white;
  }

  .navbar {
    color: white;
  }

  .navbar-brand {
    margin-right: 100px;
    font-size: 2rem;
  }

  .navbar-text {
    margin-right: 50px;
    color: white!important;
    font-size: 2rem;
  }

